
   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2><span class="label label-default">COVID-19 contact list</span></h2>
        <p></p>

        <% for(var i=0; i < data.length; i++) { %>
        <form action="/add2_contact" method="POST">

        <ul class="list-group">
          
          <li class="list-group-item active"><h5>Add a contact ID to <%= data[i].personLastName %> <%= data[i].personFirstName %></h5></li>
          <li class="list-group-item"><b>ID:</b> <%= data[i].personID %></li>
          <li class="list-group-item"><b>Contact ID:</b> <input type="text" name="contactID"></li>
          <li class="list-group-item"><b>Contact Date:</b> <input type="date" name="contactDate" min="2020-01-01" max="2022-12-31"></li>
          <li class="list-group-item"><b>Description:</b> <input type="text" name="contactDescription"></li>
         
        </ul>

        <input type="hidden" name="personID" value="<%= data[i].personID %>">
        <button class="btn btn-xs btn-primary" type="button" onclick="window.history.back();">Back</button>
        <button class="btn btn-xs btn-danger" type="submit">Add Contact</button>

        </form>

        <% } %>

      </div>
    <%- include footer %>
